@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .nav-primary {
    @apply mx-4 my-1 block rounded-full p-2 text-lg font-medium hover:bg-black hover:text-white;
  }
  .btn-primary {
    @apply my-1 rounded-full bg-black p-4 font-medium text-white transition-all hover:scale-105;
  }
}
